In [22]:
import pandas as pd
import numpy as np

import os

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import log_loss

from IPython.display import display

%matplotlib inline

# Limitations
- In the interest of time and simplicity we will ignore the players and events as part of this year's model. It could be expanded on at a later time to enchance the model with this additional data.
- Seeds will not be used as they are a biased ranking

In [2]:
data_dir = 'data_2018'

In [3]:
df_teams = pd.read_csv(os.path.join(data_dir, 'Teams.csv'))
df_teams.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2018
1    1102    Air Force           1985          2018
2    1103        Akron           1985          2018
3    1104      Alabama           1985          2018
4    1105  Alabama A&M           2000          2018

In [4]:
df_teams['D1Seasons'] = df_teams['LastD1Season'] - df_teams['FirstD1Season']
df_teams.head()

   TeamID     TeamName  FirstD1Season  LastD1Season  D1Seasons
0    1101  Abilene Chr           2014          2018          4
1    1102    Air Force           1985          2018         33
2    1103        Akron           1985          2018         33
3    1104      Alabama           1985          2018         33
4    1105  Alabama A&M           2000          2018         18

In [6]:
df_detailed = pd.read_csv(os.path.join(data_dir, 'RegularSeasonDetailedResults.csv'))
df_detailed.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [7]:
df_coaches = pd.read_csv(os.path.join(data_dir, 'TeamCoaches.csv'))
df_coaches.head()

   Season  TeamID  FirstDayNum  LastDayNum       CoachName
0    1985    1102            0         154   reggie_minton
1    1985    1103            0         154     bob_huggins
2    1985    1104            0         154  wimp_sanderson
3    1985    1106            0         154    james_oliver
4    1985    1108            0         154   davey_whitney

In [8]:
df_coaches = df_coaches.sort_values(by=['CoachName', 'Season'])
df_coaches['NumDaysCoaching'] = df_coaches['LastDayNum'] - df_coaches['FirstDayNum']
df_coaches['TotalDaysCoaching'] = df_coaches.groupby('CoachName')['NumDaysCoaching'].cumsum()

# Which iteration the coach as been with the team
# Team A -> Team B -> Team A = 1 -> 2 -> 3
df_coaches['TeamNumber'] = df_coaches['TeamID'].ne(df_coaches['TeamID'].shift().bfill()).astype(int)
df_coaches['TeamNumber'] = df_coaches.groupby(['CoachName'])['TeamNumber'].cumsum()

df_coaches['TeamTenure'] = df_coaches.groupby(['CoachName', 'TeamNumber'])['NumDaysCoaching'].cumsum()
df_coaches.sample(20)

,Season,TeamID,FirstDayNum,LastDayNum,CoachName,NumDaysCoaching,TotalDaysCoaching,TeamNumber,TeamTenure
8934,2013,1170,0,154,brian_katz,154,770,1,770
1745,1990,1461,0,154,benny_dees,154,770,2,462
2438,1993,1212,0,154,aaron_james,154,616,1,616
1725,1990,1437,0,154,rollie_massimino,154,924,1,924
9182,2013,1422,0,154,wes_miller,154,265,1,265
6736,2006,1412,0,154,mike_anderson,154,616,1,616
4104,1998,1382,0,154,jim_baron,154,1694,2,924
10365,2017,1189,0,154,matt_matheny,154,1232,1,1232
7396,2008,1387,0,154,rick_majerus,154,2764,4,154
6366,2005,1378,0,154,robert_mccullum,154,770,2,308
9895,2015,1430,0,154,dick_hunsaker,154,2443,3,1694
5960,2004,1288,0,154,butch_beard,154,1078,2,462
9492,2014,1378,0,154,stan_heath,154,2002,3,1078
10801,2018,1269,0,154,matt_mccall,154,462,2,154
10717,2018,1185,0,154,rob_murphy,154,1078,1,1078
6328,2005,1335,0,154,fran_dunphy,154,2464,1,2464
10561,2017,1386,0,154,phil_martelli,154,3388,1,3388
4259,1999,1196,0,154,billy_donovan,154,770,2,462
2916,1994,1429,0,154,larry_eustachy,154,616,2,154
3670,1997,1229,0,154,kevin_stallings,154,616,1,616

In [9]:
def calc_gameid(row):
    min_id = min(row['WTeamID'], row['LTeamID'])
    max_id = max(row['WTeamID'], row['LTeamID'])
    season = row['Season']
    return f'{season}_{min_id}_{max_id}'

In [10]:
df_detailed['GameID'] = df_detailed.apply(calc_gameid, axis='columns')

In [30]:
df_detailed_team_W = pd.merge(left = df_detailed,
        right = df_teams,
        left_on = ['WTeamID'],
        right_on = ['TeamID'])

df_detailed_team_L = pd.merge(left = df_detailed_team_W,
        right = df_teams,
        left_on = ['LTeamID'],
        right_on = ['TeamID'],
        suffixes = ('_W', '_L'))

df_master = pd.merge(left = df_detailed_team_W,
         right = df_detailed_team_L,
         on = list(df_detailed.columns),
         suffixes = ('_W', '_L')
        )

df_master = pd.merge(
    left = df_master,
    right = df_coaches,
    left_on = ['Season', 'WTeamID'],
    right_on = ['Season', 'TeamID']#,
    #suffixes = ('_W', '_L')
)

df_master = pd.merge(
    left = df_master,
    right = df_coaches,
    left_on = ['Season', 'LTeamID'],
    right_on = ['Season', 'TeamID'],
     suffixes = ('_W', '_L')
)
df_master

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,TeamNumber_W,TeamTenure_W,TeamID,FirstDayNum_L,LastDayNum_L,CoachName_L,NumDaysCoaching_L,TotalDaysCoaching_L,TeamNumber_L,TeamTenure_L
0,2003,10,1104,68,1328,62,N,0,27,58,...,2,770,1328,0,154,kelvin_sampson,154,2464,2,1386
1,2003,98,1400,67,1328,61,H,0,25,64,...,4,770,1328,0,154,kelvin_sampson,154,2464,2,1386
2,2003,124,1400,76,1328,71,A,0,27,50,...,4,770,1328,0,154,kelvin_sampson,154,2464,2,1386
3,2003,114,1281,67,1328,52,H,0,24,55,...,1,616,1328,0,154,kelvin_sampson,154,2464,2,1386
4,2003,70,1329,48,1328,46,H,0,19,49,...,3,2002,1328,0,154,kelvin_sampson,154,2464,2,1386
5,2003,54,1280,54,1328,45,N,0,18,50,...,1,770,1328,0,154,kelvin_sampson,154,2464,2,1386
6,2003,18,1104,82,1106,56,H,0,24,49,...,2,770,1106,0,154,rob_spivery,154,1078,1,1078
7,2003,13,1202,74,1106,73,N,0,29,51,...,1,924,1106,0,154,rob_spivery,154,1078,1,1078
8,2003,14,1426,59,1106,47,N,0,25,53,...,1,1694,1106,0,154,rob_spivery,154,1078,1,1078
9,2003,89,1341,63,1106,57,H,0,20,41,...,1,154,1106,0,154,rob_spivery,154,1078,1,1078
10,2003,117,1341,60,1106,54,A,0,22,51,...,1,154,1106,0,154,rob_spivery,154,1078,1,1078
11,2003,110,1380,57,1106,54,H,0,19,55,...,1,1848,1106,0,154,rob_spivery,154,1078,1,1078
12,2003,33,1407,80,1106,71,A,0,29,65,...,1,1540,1106,0,154,rob_spivery,154,1078,1,1078
13,2003,56,1407,81,1106,61,H,0,30,64,...,1,1540,1106,0,154,rob_spivery,154,1078,1,1078
14,2003,112,1108,69,1106,50,H,0,23,55,...,1,1848,1106,0,154,rob_spivery,154,1078,1,1078
15,2003,127,1108,58,1106,55,A,0,22,53,...,1,1848,1106,0,154,rob_spivery,154,1078,1,1078
16,2003,23,1279,74,1106,58,H,0,28,49,...,1,770,1106,0,154,rob_spivery,154,1078,1,1078
17,2003,26,1197,68,1106,67,H,0,20,51,...,1,308,1106,0,154,rob_spivery,154,1078,1,1078
18,2003,91,1411,58,1106,52,H,0,20,43,...,1,308,1106,0,154,rob_spivery,154,1078,1,1078
19,2003,122,1238,70,1106,60,H,0,24,49,...,1,2156,1106,0,154,rob_spivery,154,1078,1,1078
20,2003,98,1290,79,1106,78,A,0,29,64,...,1,2926,1106,0,154,rob_spivery,154,1078,1,1078
21,2003,21,1104,80,1292,65,H,0,27,59,...,2,770,1292,0,154,kermit_davis,154,770,4,154
22,2003,26,1422,70,1292,58,H,0,24,60,...,2,616,1292,0,154,kermit_davis,154,770,4,154
23,2003,47,1122,79,1292,71,H,1,27,48,...,1,2002,1292,0,154,kermit_davis,154,770,4,154
24,2003,18,1187,65,1292,63,A,0,22,49,...,2,616,1292,0,154,kermit_davis,154,770,4,154
25,2003,32,1345,85,1292,56,H,0,27,57,...,1,2926,1292,0,154,kermit_davis,154,770,4,154
26,2003,73,1375,64,1292,53,A,0,19,46,...,1,154,1292,0,154,kermit_davis,154,770,4,154
27,2003,82,1418,71,1292,65,H,0,27,59,...,1,924,1292,0,154,kermit_davis,154,770,4,154
28,2003,68,1114,71,1292,62,H,1,23,53,...,1,462,1292,0,154,kermit_davis,154,770,4,154
29,2003,103,1114,74,1292,58,A,0,21,43,...,1,462,1292,0,154,kermit_davis,154,770,4,154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83596,2008,91,1126,60,1445,50,A,0,21,48,...,1,985,1445,0,154,bobby_collins,154,924,2,308
83597,2008,98,1164,62,1445,44,H,0,20,48,...,1,3388,1445,0,154,bobby_collins,154,924,2,308
83598,2008,70,1175,66,1445,59,A,0,21,45,...,1,1232,1445,0,154,bobby_collins,154,924,2,308
83599,2008,26,1354,74,1445,70,A,1,26,54,...,2,154,1445,0,154,bobby_collins,154,924,2,308
83600,2008,122,1354,73,1445,71,H,0,29,73,...,2,154,1445,0,154,bobby_collins,154,924,2,308
83601,2008,96,1288,63,1445,41,H,0,25,51,...,2,308,1445,0,154,bobby_collins,154,924,2,308
83602,2008,82,1299,75,1445,56,H,0,24,60,...,1,770,1445,0,154,bobby_collins,154,924,2,308
83603,2008,131,1300,60,1445,56,N,0,22,59,...,2,154,1445,0,154,bobby_collins,154,924,2,308
83604,2011,89,1307,86,1140,77,H,0,31,61,...,3,616,1140,0,154,dave_rose,154,924,1,924
83605,2011,121,1307,82,1140,64,A,0,27,58,...,3,616,1140,0,154,dave_rose,154,924,1,924
83606,2011,131,1361,72,1140,54,N,0,28,62,...,2,1848,1140,0,154,dave_rose,154,924,1,924
83607,2011,47,1417,86,1140,79,N,0,29,61,...,3,1232,1140,0,154,dave_rose,154,924,1,924
83608,2005,125,1326,65,1228,64,H,0,23,53,...,3,154,1228,0,154,bruce_weber,154,1078,2,308
83609,2018,73,1443,75,1330,68,A,0,27,50,...,2,308,1330,0,154,jeff_a_jones,154,4004,3,770
83610,2018,117,1443,88,1330,66,H,0,35,59,...,2,308,1330,0,154,jeff_a_jones,154,4004,3,770
83611,2018,130,1443,57,1330,49,N,0,18,49,...,2,308,1330,0,154,jeff_a_jones,154,4004,3,770
83612,2018,94,1292,66,1330,59,A,0,24,49,...,4,2464,1330,0,154,jeff_a_jones,154,4004,3,770
83613,2018,33,1433,82,1330,75,H,0,26,53,...,2,154,1330,0,154,jeff_a_jones,154,4004,3,770
83614,2018,26,1456,79,1330,77,H,0,28,48,...,1,2310,1330,0,154,jeff_a_jones,154,4004,3,770
83615,2018,17,1396,76,1330,65,N,0,23,54,...,2,1848,1330,0,154,jeff_a_jones,154,4004,3,770
83616,2011,14,1448,63,1214,56,H,0,20,50,...,4,154,1214,0,154,edward_joyner,154,308,1,308
83617,2011,84,1197,62,1214,58,H,0,18,52,...,1,616,1214,0,154,edward_joyner,154,308,1,308
83618,2011,112,1197,58,1214,55,A,0,20,56,...,1,616,1214,0,154,edward_joyner,154,308,1,308
83619,2011,37,1174,55,1214,53,A,0,19,53,...,1,770,1214,0,154,edward_joyner,154,308,1,308
83620,2011,59,1362,69,1214,57,H,0,23,58,...,2,462,1214,0,154,edward_joyner,154,308,1,308
83621,2011,110,1126,78,1214,76,A,2,31,73,...,1,1447,1214,0,154,edward_joyner,154,308,1,308
83622,2011,70,1288,78,1214,72,H,0,24,57,...,2,770,1214,0,154,edward_joyner,154,308,1,308
83623,2011,105,1299,74,1214,63,H,0,20,47,...,1,1232,1214,0,154,edward_joyner,154,308,1,308
83624,2004,124,1449,75,1390,62,H,0,22,50,...,3,308,1390,0,154,mike_montgomery,154,3080,2,2772
83625,2012,101,1398,72,1293,68,A,0,25,52,...,1,462,1293,0,154,steve_prohm,154,154,1,154

In [31]:
df_master['GameID'].value_counts()

2004_1424_1428    12
2010_1171_1335     8
2012_1226_1319     8
2008_1337_1362     8
2011_1395_1461     6
2017_1228_1276     6
2012_1422_1441     6
2017_1163_1378     6
2007_1276_1278     6
2004_1161_1424     6
2012_1102_1307     6
2008_1337_1360     6
2018_1175_1299     6
2009_1293_1398     6
2017_1133_1179     6
2008_1178_1460     6
2016_1102_1424     6
2010_1406_1423     6
2012_1198_1443     6
2018_1413_1415     6
2008_1258_1362     6
2008_1112_1333     6
2013_1375_1443     6
2004_1140_1428     6
2016_1201_1424     6
2003_1125_1209     6
2008_1362_1365     6
2012_1111_1422     6
2003_1152_1434     6
2009_1258_1360     6
                  ..
2016_1230_1322     1
2018_1204_1418     1
2016_1205_1397     1
2015_1326_1460     1
2018_1186_1449     1
2012_1210_1321     1
2004_1307_1336     1
2010_1103_1115     1
2006_1108_1378     1
2017_1299_1351     1
2016_1339_1356     1
2014_1154_1397     1
2008_1357_1384     1
2016_1354_1382     1
2015_1104_1406     1
2017_1398_1413     1
2012_1341_1372     1
2012_1152_1356     1
2017_1129_1169     1
2018_1217_1386     1
2011_1120_1378     1
2008_1155_1448     1
2011_1166_1418     1
2015_1386_1387     1
2017_1286_1349     1
2016_1162_1392     1
2017_1173_1304     1
2014_1151_1305     1
2013_1374_1379     1
2017_1374_1425     1
Name: GameID, Length: 58063, dtype: int64

In [34]:
with pd.option_context('display.max_columns', None):
    display(df_master[df_master['GameID'] == '2004_1424_1428'])

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,WFGM3,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF,LFGM,LFGA,LFGM3,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,GameID,TeamID_x,TeamName,FirstD1Season,LastD1Season,D1Seasons,TeamID_W,TeamName_W,FirstD1Season_W,LastD1Season_W,D1Seasons_W,TeamID_L,TeamName_L,FirstD1Season_L,LastD1Season_L,D1Seasons_L,TeamID_y,FirstDayNum_W,LastDayNum_W,CoachName_W,NumDaysCoaching_W,TotalDaysCoaching_W,TeamNumber_W,TeamTenure_W,TeamID,FirstDayNum_L,LastDayNum_L,CoachName_L,NumDaysCoaching_L,TotalDaysCoaching_L,TeamNumber_L,TeamTenure_L
21996,2004,70,1428,72,1424,67,A,0,25,46,7,13,15,17,10,22,14,20,4,0,29,18,45,4,16,27,37,11,11,7,12,7,6,22,2004_1424_1428,1428,Utah,1985,2018,33,1428,Utah,1985,2018,33,1424,UNLV,1985,2018,33,1428,86,154,kerry_rupp,68,68,1,68,1424,0,105,charles_spoonhour,105,2723,3,413
21997,2004,70,1428,72,1424,67,A,0,25,46,7,13,15,17,10,22,14,20,4,0,29,18,45,4,16,27,37,11,11,7,12,7,6,22,2004_1424_1428,1428,Utah,1985,2018,33,1428,Utah,1985,2018,33,1424,UNLV,1985,2018,33,1428,86,154,kerry_rupp,68,68,1,68,1424,106,154,jay_spoonhour,48,48,1,48
21998,2004,70,1428,72,1424,67,A,0,25,46,7,13,15,17,10,22,14,20,4,0,29,18,45,4,16,27,37,11,11,7,12,7,6,22,2004_1424_1428,1428,Utah,1985,2018,33,1428,Utah,1985,2018,33,1424,UNLV,1985,2018,33,1428,0,85,rick_majerus,85,2610,3,1994,1424,0,105,charles_spoonhour,105,2723,3,413
21999,2004,70,1428,72,1424,67,A,0,25,46,7,13,15,17,10,22,14,20,4,0,29,18,45,4,16,27,37,11,11,7,12,7,6,22,2004_1424_1428,1428,Utah,1985,2018,33,1428,Utah,1985,2018,33,1424,UNLV,1985,2018,33,1428,0,85,rick_majerus,85,2610,3,1994,1424,106,154,jay_spoonhour,48,48,1,48
22000,2004,98,1428,70,1424,56,H,0,23,50,5,13,19,21,11,35,12,16,5,7,15,19,54,5,17,13,18,4,17,9,7,10,3,18,2004_1424_1428,1428,Utah,1985,2018,33,1428,Utah,1985,2018,33,1424,UNLV,1985,2018,33,1428,86,154,kerry_rupp,68,68,1,68,1424,0,105,charles_spoonhour,105,2723,3,413
22001,2004,98,1428,70,1424,56,H,0,23,50,5,13,19,21,11,35,12,16,5,7,15,19,54,5,17,13,18,4,17,9,7,10,3,18,2004_1424_1428,1428,Utah,1985,2018,33,1428,Utah,1985,2018,33,1424,UNLV,1985,2018,33,1428,86,154,kerry_rupp,68,68,1,68,1424,106,154,jay_spoonhour,48,48,1,48
22002,2004,98,1428,70,1424,56,H,0,23,50,5,13,19,21,11,35,12,16,5,7,15,19,54,5,17,13,18,4,17,9,7,10,3,18,2004_1424_1428,1428,Utah,1985,2018,33,1428,Utah,1985,2018,33,1424,UNLV,1985,2018,33,1428,0,85,rick_majerus,85,2610,3,1994,1424,0,105,charles_spoonhour,105,2723,3,413
22003,2004,98,1428,70,1424,56,H,0,23,50,5,13,19,21,11,35,12,16,5,7,15,19,54,5,17,13,18,4,17,9,7,10,3,18,2004_1424_1428,1428,Utah,1985,2018,33,1428,Utah,1985,2018,33,1424,UNLV,1985,2018,33,1428,0,85,rick_majerus,85,2610,3,1994,1424,106,154,jay_spoonhour,48,48,1,48
22004,2004,131,1428,73,1424,70,N,0,23,62,10,21,17,21,17,20,14,11,5,2,15,26,52,7,16,11,14,8,25,10,13,7,4,18,2004_1424_1428,1428,Utah,1985,2018,33,1428,Utah,1985,2018,33,1424,UNLV,1985,2018,33,1428,86,154,kerry_rupp,68,68,1,68,1424,0,105,charles_spoonhour,105,2723,3,413
22005,2004,131,1428,73,1424,70,N,0,23,62,10,21,17,21,17,20,14,11,5,2,15,26,52,7,16,11,14,8,25,10,13,7,4,18,2004_1424_1428,1428,Utah,1985,2018,33,1428,Utah,1985,2018,33,1424,UNLV,1985,2018,33,1428,86,154,kerry_rupp,68,68,1,68,1424,106,154,jay_spoonhour,48,48,1,48
22006,2004,131,1428,73,1424,70,N,0,23,62,10,21,17,21,17,20,14,11,5,2,15,26,52,7,16,11,14,8,25,10,13,7,4,18,2004_1424_1428,1428,Utah,1985,2018,33,1428,Utah,1985,2018,33,1424,UNLV,1985,2018,33,1428,0,85,rick_majerus,85,2610,3,1994,1424,0,105,charles_spoonhour,105,2723,3,413
22007,2004,131,1428,73,1424,70,N,0,23,62,10,21,17,21,17,20,14,11,5,2,15,26,52,7,16,11,14,8,25,10,13,7,4,18,2004_1424_1428,1428,Utah,1985,2018,33,1428,Utah,1985,2018,33,1424,UNLV,1985,2018,33,1428,0,85,rick_majerus,85,2610,3,1994,1424,106,154,jay_spoonhour,48,48,1,48

# TODO:
- Resolve merge issues with coaches who change midseason