In [1]:
import pandas as pd
import numpy as np

import os

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import log_loss
from sklearn.preprocessing import LabelEncoder

from IPython.display import display

%matplotlib inline

# Limitations
- In the interest of time and simplicity we will ignore the players and events as part of this year's model. It could be expanded on at a later time to enchance the model with this additional data.
- Seeds will not be used as they are a biased ranking

In [2]:
data_dir = 'data_2019'

In [3]:
df_teams = pd.read_csv(os.path.join(data_dir, 'Teams.csv'))
df_teams.head()

   TeamID     TeamName  FirstD1Season  LastD1Season
0    1101  Abilene Chr           2014          2019
1    1102    Air Force           1985          2019
2    1103        Akron           1985          2019
3    1104      Alabama           1985          2019
4    1105  Alabama A&M           2000          2019

In [4]:
df_teams['D1Seasons'] = df_teams['LastD1Season'] - df_teams['FirstD1Season']
teams_dict = df_teams[['TeamID', 'TeamName']].to_dict()
del df_teams['TeamName']
df_teams.head()

   TeamID  FirstD1Season  LastD1Season  D1Seasons
0    1101           2014          2019          5
1    1102           1985          2019         34
2    1103           1985          2019         34
3    1104           1985          2019         34
4    1105           2000          2019         19

In [5]:
df_detailed = pd.read_csv(os.path.join(data_dir, 'RegularSeasonDetailedResults.csv'))
df_detailed.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [6]:
df_detailed['ScoreDiff'] = df_detailed['WScore'] - df_detailed['LScore']

In [7]:
df_coaches = pd.read_csv(os.path.join(data_dir, 'TeamCoaches.csv'))
df_coaches.head()

   Season  TeamID  FirstDayNum  LastDayNum       CoachName
0    1985    1102            0         154   reggie_minton
1    1985    1103            0         154     bob_huggins
2    1985    1104            0         154  wimp_sanderson
3    1985    1106            0         154    james_oliver
4    1985    1108            0         154   davey_whitney

In [8]:
df_coaches = df_coaches.sort_values(by=['CoachName', 'Season'])
df_coaches['NumDaysCoaching'] = df_coaches['LastDayNum'] - df_coaches['FirstDayNum']
df_coaches['TotalDaysCoaching'] = df_coaches.groupby('CoachName')['NumDaysCoaching'].cumsum()

# Which iteration the coach as been with the team
# Team A -> Team B -> Team A = 1 -> 2 -> 3
df_coaches['TeamNumber'] = df_coaches['TeamID'].ne(df_coaches['TeamID'].shift().bfill()).astype(int)
df_coaches['TeamNumber'] = df_coaches.groupby(['CoachName'])['TeamNumber'].cumsum()

df_coaches['TeamTenure'] = df_coaches.groupby(['CoachName', 'TeamNumber'])['NumDaysCoaching'].cumsum()
df_coaches.sample(20)

,Season,TeamID,FirstDayNum,LastDayNum,CoachName,NumDaysCoaching,TotalDaysCoaching,TeamNumber,TeamTenure
3545,1996,1447,0,154,tim_capstraw,154,1078,1,1078
2469,1993,1254,0,154,paul_lizzo,154,1386,1,1386
4738,2000,1385,0,154,mike_jarvis,154,2310,3,308
5438,2002,1441,0,154,steve_shurina,154,308,1,308
9218,2013,1460,0,154,billy_donlon,154,462,1,462
5319,2002,1308,0,154,lou_henson,154,2618,2,770
228,1985,1396,0,154,john_chaney,154,154,1,154
545,1986,1434,0,154,tom_smith,154,308,1,308
6696,2006,1371,0,154,louis_orr,154,924,2,770
4109,1998,1387,0,154,charles_spoonhour,154,2156,2,924
7477,2009,1105,0,154,vann_pettaway,154,1540,1,1540
9324,2014,1207,0,154,john_thompson_iii,154,2156,2,1540
5021,2001,1340,0,154,joel_sobotka,154,462,1,462
7420,2008,1410,0,154,tom_schuberth,154,308,1,308
10403,2017,1228,0,131,john_groce,131,1363,2,747
6438,2005,1451,0,154,joe_cravens,154,1498,3,924
788,1987,1374,0,154,dave_bliss,154,462,1,462
245,1985,1416,0,154,chuck_machock,154,154,1,154
3749,1997,1325,0,154,larry_hunter,154,1232,1,1232
1229,1989,1190,0,154,les_robinson,154,770,2,616

In [9]:
le_coach = LabelEncoder()
df_coaches['CoachName'] = le_coach.fit_transform(df_coaches['CoachName'].values)

In [10]:
def calc_gameid(row):
    min_id = min(row['WTeamID'], row['LTeamID'])
    max_id = max(row['WTeamID'], row['LTeamID'])
    season = row['Season']
    return f'{season}_{min_id}_{max_id}'

In [11]:
# df_detailed['GameID'] = df_detailed.apply(calc_gameid, axis='columns')
df_detailed['WLoc'] = df_detailed['WLoc'].map({'H': 1, 'A': 2, 'N': 3 })

In [12]:
df_detailed_team_W = pd.merge(left = df_detailed,
        right = df_teams,
        left_on = ['WTeamID'],
        right_on = ['TeamID'])

df_detailed_team_L = pd.merge(left = df_detailed_team_W,
        right = df_teams,
        left_on = ['LTeamID'],
        right_on = ['TeamID'],
        suffixes = ('_W', '_L'))

df_master = pd.merge(left = df_detailed_team_W,
         right = df_detailed_team_L,
         on = list(df_detailed.columns),
         suffixes = ('_W', '_L')
        )

df_master = pd.merge(
    left = df_master,
    right = df_coaches,
    left_on = ['Season', 'WTeamID'],
    right_on = ['Season', 'TeamID']#,
    #suffixes = ('_W', '_L')
)

df_master = pd.merge(
    left = df_master,
    right = df_coaches,
    left_on = ['Season', 'LTeamID'],
    right_on = ['Season', 'TeamID'],
     suffixes = ('_W', '_L')
)
df_master

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,TeamNumber_W,TeamTenure_W,TeamID,FirstDayNum_L,LastDayNum_L,CoachName_L,NumDaysCoaching_L,TotalDaysCoaching_L,TeamNumber_L,TeamTenure_L
0,2003,10,1104,68,1328,62,3,0,27,58,...,2,770,1328,0,154,736,154,2464,2,1386
1,2003,98,1400,67,1328,61,1,0,25,64,...,4,770,1328,0,154,736,154,2464,2,1386
2,2003,124,1400,76,1328,71,2,0,27,50,...,4,770,1328,0,154,736,154,2464,2,1386
3,2003,114,1281,67,1328,52,1,0,24,55,...,1,616,1328,0,154,736,154,2464,2,1386
4,2003,70,1329,48,1328,46,1,0,19,49,...,3,2002,1328,0,154,736,154,2464,2,1386
5,2003,54,1280,54,1328,45,3,0,18,50,...,1,770,1328,0,154,736,154,2464,2,1386
6,2003,18,1104,82,1106,56,1,0,24,49,...,2,770,1106,0,154,1111,154,1078,1,1078
7,2003,13,1202,74,1106,73,3,0,29,51,...,1,924,1106,0,154,1111,154,1078,1,1078
8,2003,14,1426,59,1106,47,3,0,25,53,...,1,1694,1106,0,154,1111,154,1078,1,1078
9,2003,89,1341,63,1106,57,1,0,20,41,...,1,154,1106,0,154,1111,154,1078,1,1078
10,2003,117,1341,60,1106,54,2,0,22,51,...,1,154,1106,0,154,1111,154,1078,1,1078
11,2003,110,1380,57,1106,54,1,0,19,55,...,1,1848,1106,0,154,1111,154,1078,1,1078
12,2003,33,1407,80,1106,71,2,0,29,65,...,1,1540,1106,0,154,1111,154,1078,1,1078
13,2003,56,1407,81,1106,61,1,0,30,64,...,1,1540,1106,0,154,1111,154,1078,1,1078
14,2003,112,1108,69,1106,50,1,0,23,55,...,1,1848,1106,0,154,1111,154,1078,1,1078
15,2003,127,1108,58,1106,55,2,0,22,53,...,1,1848,1106,0,154,1111,154,1078,1,1078
16,2003,23,1279,74,1106,58,1,0,28,49,...,1,770,1106,0,154,1111,154,1078,1,1078
17,2003,26,1197,68,1106,67,1,0,20,51,...,1,308,1106,0,154,1111,154,1078,1,1078
18,2003,91,1411,58,1106,52,1,0,20,43,...,1,308,1106,0,154,1111,154,1078,1,1078
19,2003,122,1238,70,1106,60,1,0,24,49,...,1,2156,1106,0,154,1111,154,1078,1,1078
20,2003,98,1290,79,1106,78,2,0,29,64,...,1,2926,1106,0,154,1111,154,1078,1,1078
21,2003,21,1104,80,1292,65,1,0,27,59,...,2,770,1292,0,154,742,154,770,4,154
22,2003,26,1422,70,1292,58,1,0,24,60,...,2,616,1292,0,154,742,154,770,4,154
23,2003,47,1122,79,1292,71,1,1,27,48,...,1,2002,1292,0,154,742,154,770,4,154
24,2003,18,1187,65,1292,63,2,0,22,49,...,2,616,1292,0,154,742,154,770,4,154
25,2003,32,1345,85,1292,56,1,0,27,57,...,1,2926,1292,0,154,742,154,770,4,154
26,2003,73,1375,64,1292,53,2,0,19,46,...,1,154,1292,0,154,742,154,770,4,154
27,2003,82,1418,71,1292,65,1,0,27,59,...,1,924,1292,0,154,742,154,770,4,154
28,2003,68,1114,71,1292,62,1,1,23,53,...,1,462,1292,0,154,742,154,770,4,154
29,2003,103,1114,74,1292,58,2,0,21,43,...,1,462,1292,0,154,742,154,770,4,154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83596,2008,91,1126,60,1445,50,2,0,21,48,...,1,985,1445,0,154,127,154,924,2,308
83597,2008,98,1164,62,1445,44,1,0,20,48,...,1,3388,1445,0,154,127,154,924,2,308
83598,2008,70,1175,66,1445,59,2,0,21,45,...,1,1232,1445,0,154,127,154,924,2,308
83599,2008,26,1354,74,1445,70,2,1,26,54,...,2,154,1445,0,154,127,154,924,2,308
83600,2008,122,1354,73,1445,71,1,0,29,73,...,2,154,1445,0,154,127,154,924,2,308
83601,2008,96,1288,63,1445,41,1,0,25,51,...,2,308,1445,0,154,127,154,924,2,308
83602,2008,82,1299,75,1445,56,1,0,24,60,...,1,770,1445,0,154,127,154,924,2,308
83603,2008,131,1300,60,1445,56,3,0,22,59,...,2,154,1445,0,154,127,154,924,2,308
83604,2011,89,1307,86,1140,77,1,0,31,61,...,3,616,1140,0,154,288,154,924,1,924
83605,2011,121,1307,82,1140,64,2,0,27,58,...,3,616,1140,0,154,288,154,924,1,924
83606,2011,131,1361,72,1140,54,3,0,28,62,...,2,1848,1140,0,154,288,154,924,1,924
83607,2011,47,1417,86,1140,79,3,0,29,61,...,3,1232,1140,0,154,288,154,924,1,924
83608,2005,125,1326,65,1228,64,1,0,23,53,...,3,154,1228,0,154,166,154,1078,2,308
83609,2018,73,1443,75,1330,68,2,0,27,50,...,2,308,1330,0,154,552,154,4004,3,770
83610,2018,117,1443,88,1330,66,1,0,35,59,...,2,308,1330,0,154,552,154,4004,3,770
83611,2018,130,1443,57,1330,49,3,0,18,49,...,2,308,1330,0,154,552,154,4004,3,770
83612,2018,94,1292,66,1330,59,2,0,24,49,...,4,2464,1330,0,154,552,154,4004,3,770
83613,2018,33,1433,82,1330,75,1,0,26,53,...,2,154,1330,0,154,552,154,4004,3,770
83614,2018,26,1456,79,1330,77,1,0,28,48,...,1,2310,1330,0,154,552,154,4004,3,770
83615,2018,17,1396,76,1330,65,3,0,23,54,...,2,1848,1330,0,154,552,154,4004,3,770
83616,2011,14,1448,63,1214,56,1,0,20,50,...,4,154,1214,0,154,395,154,308,1,308
83617,2011,84,1197,62,1214,58,1,0,18,52,...,1,616,1214,0,154,395,154,308,1,308
83618,2011,112,1197,58,1214,55,2,0,20,56,...,1,616,1214,0,154,395,154,308,1,308
83619,2011,37,1174,55,1214,53,2,0,19,53,...,1,770,1214,0,154,395,154,308,1,308
83620,2011,59,1362,69,1214,57,1,0,23,58,...,2,462,1214,0,154,395,154,308,1,308
83621,2011,110,1126,78,1214,76,2,2,31,73,...,1,1447,1214,0,154,395,154,308,1,308
83622,2011,70,1288,78,1214,72,1,0,24,57,...,2,770,1214,0,154,395,154,308,1,308
83623,2011,105,1299,74,1214,63,1,0,20,47,...,1,1232,1214,0,154,395,154,308,1,308
83624,2004,124,1449,75,1390,62,1,0,22,50,...,3,308,1390,0,154,939,154,3080,2,2772
83625,2012,101,1398,72,1293,68,2,0,25,52,...,1,462,1293,0,154,1233,154,154,1,154

In [21]:
df_master['Team1'] = df_master.apply(lambda r: sorted([r['WTeamID'], r['LTeamID']])[0], axis=1)
df_master['Team2'] = df_master.apply(lambda r: sorted([r['WTeamID'], r['LTeamID']])[1], axis=1)
df_master['Pred'] = df_master['Team1'] == df_master['TeamID']
df_master['Pred'] = df_master['Pred'].astype(float)
df_master['ScoreDiffNorm'] = df_master.apply(lambda r: r['ScoreDiff'] * -1 if r['Pred'] == 0 else r['ScoreDiff'], axis=1)

/Users/marktrovinger/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/marktrovinger/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/marktrovinger/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/marktrovinger/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/marktrovinger/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

Filter out coaches based on the game day to handle coaches who are replaced mid-season

In [13]:
mask = (df_master['FirstDayNum_L'] <= df_master['DayNum'])
mask = mask & (df_master['LastDayNum_L'] >= df_master['DayNum'])
mask = mask & (df_master['FirstDayNum_W'] <= df_master['DayNum'])
mask = mask & (df_master['LastDayNum_W'] >= df_master['DayNum'])

In [14]:
df_master = df_master.loc[mask, :]

In [15]:
df_master.sample(20)

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,TeamNumber_W,TeamTenure_W,TeamID,FirstDayNum_L,LastDayNum_L,CoachName_L,NumDaysCoaching_L,TotalDaysCoaching_L,TeamNumber_L,TeamTenure_L
20175,2013,27,1458,81,1143,56,1,0,30,58,...,2,1848,1143,0,154,939,154,3850,3,770
41343,2012,61,1460,74,1227,70,2,1,23,58,...,1,308,1227,0,154,505,154,308,1,308
18017,2003,79,1131,94,1306,64,2,0,33,62,...,1,1386,1306,0,154,1036,154,616,1,616
68159,2014,96,1214,63,1224,47,1,0,18,52,...,1,770,1224,0,154,761,154,1078,2,616
66708,2010,103,1300,81,1255,78,1,0,30,55,...,1,154,1255,0,154,922,154,924,1,924
20924,2016,96,1203,72,1433,69,2,0,27,59,...,2,770,1433,0,154,1371,154,462,2,154
40554,2006,61,1376,65,1178,35,1,0,25,53,...,2,770,1178,0,154,1022,154,2002,1,2002
43654,2007,50,1314,105,1194,52,1,0,37,56,...,2,616,1194,0,154,1069,154,154,1,154
80207,2016,117,1460,55,1156,51,2,0,17,46,...,1,924,1156,0,154,439,154,3080,3,1540
6271,2011,98,1366,63,1394,57,2,1,21,60,...,2,924,1394,0,154,1021,154,2926,3,616
30302,2010,79,1133,57,1356,55,2,0,20,53,...,1,1232,1356,0,154,208,154,924,1,924
37185,2014,75,1162,71,1165,61,1,0,20,42,...,1,616,1165,0,154,62,154,616,1,616
54389,2003,107,1189,75,1421,72,1,0,28,55,...,1,616,1421,0,154,387,154,1078,1,1078
11714,2016,19,1199,83,1177,67,3,0,27,51,...,3,2156,1177,0,154,280,154,1540,4,154
72593,2017,41,1199,83,1196,78,1,0,27,59,...,3,2310,1196,0,154,900,154,924,2,308
38000,2017,79,1439,62,1210,61,1,0,22,55,...,3,462,1210,0,154,723,154,1232,2,154
46686,2017,87,1264,70,1310,69,2,0,25,59,...,1,924,1310,0,154,202,154,616,1,616
12241,2003,96,1191,62,1179,51,2,0,20,46,...,2,154,1179,0,154,774,154,1078,1,1078
29484,2006,60,1280,63,1206,61,1,0,21,49,...,1,1232,1206,0,154,626,154,3080,2,1386
10512,2012,57,1208,92,1457,86,1,1,31,57,...,2,462,1457,0,154,1054,154,1386,2,770

In [16]:
df_master.dtypes[df_master.dtypes==object]

Series([], dtype: object)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
lr = LogisticRegression()

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
columns = [c for c in df_master if c not in ['WTeamID', 'LTeamID', 'ScoreDiff', 'TeamID']]

In [28]:
X = df_master[columns]
y = df_master.pop('Pred')
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=8675309)

In [29]:
lr.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [30]:
p = lr.predict(X_test).clip(0.000001, 0.999998)

In [31]:
print('Log Loss:', log_loss(y_test, p))

Log Loss: 1.5155719967274715e-06

# TODO:
* remove detailed dataframe
* calculate team wins and losses rolling for the season
* calculate rolling detailed stats FG %, FT %, 3PT %
* DO NOT USE SCORE